<div class="min-h-screen flex items-center justify-center bg-gray-100 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div class="text-center">
      <i class="fa-solid fa-check fa-2xl" style="color: #00ff14; font-size:8rem;"></i>
      <h1 class="mt-6 text-3xl font-extrabold text-gray-900">Thank you for your purchase!</h1>
      <p class="mt-2 text-sm text-gray-600">Your order has been successfully placed.</p>
    </div>
    <div class="mt-8">
      <%= link_to "Continue Shopping", root_path, class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-lime-600 hover:bg-lime-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
    </div>
  </div>
</div>
